// .dev {

// }

.dev__avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.dev__avatar-pic {
  border-radius: 50%;
}

.dev__description-table {
  border-collapse: collapse;
}

// .dev__description-row {}

.dev__description-cell {
  padding: 7px;
  color: rgba(#fff, .15);

  &:nth-child(even) {
    color: rgba(#fff, 1);
  }
}