.dev {
  .dev__avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }

  .dev__avatar-pic {
    // display: block;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }

  &--horizontal {
    display: flex;

    .dev__avatar {
      display: block;
      max-width: 75px;
      max-height: 75px;
      margin-bottom: 0px;
      margin-right: 5%;
    }

    .dev__avatar-pic {
      height: 75px;
      width: 75px;
    }

    .dev__description {
      // display: flex;
      flex-direction: column;
      justify-content: space-around;

      .dev__name {
        font-weight: 700;
        font-size: 18px;
      }

      .dev__occ {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.3;
      }
    }
  }
}



.dev__description-table {
  border-collapse: collapse;
}

.dev__description-cell {
  padding: 7px;
  color: rgba(#fff, .15);

  &:nth-child(even) {
    color: rgba(#fff, 1);
  }
}