.feedback__list {
  width: 60%;
margin-bottom: 60px;

}

.feedback__row {
  margin-bottom: 40px;
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
}





.feedback__button {
  padding: 34px 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  background-image: linear-gradient(to right, #ea7400 0%, #f29400 100%);
}