.more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  color: rgba(#fff, .5);
  // font-weight: 400;
}

.more__hello {
  font-size: 14px;

}

.more__name {
  color: rgba(#fff, 1);
  font-size: 30px;
  font-weight: 700;
}

// .more__work {
// } 

.more__loftschool {
  font-style: italic;
  padding-top: 40px;
}