.owner {
    position: relative;
    top: 38%;
    display: flex;
    color: #fff;
}

.owner__desc {
    font-size: 18px;
    text-align: right;
    opacity: 0.4;
    line-height: 30px;
    margin-right: 60px;
}

.owner__name {
    font-size: 72px;
    font-weight: 800;
    white-space: wrap;
    line-height: 60px;
}