.reviews {
  margin-bottom: 200px;
}

.reviews__title {
  display: flex;
}

.reviews__slider {
  display: flex;
}

.reviews__slider-item {
  display: flex;
  width: 29%;
  margin-right: 74px;
  justify-content: space-between;
  &:nth-child(2) {
    margin-right: 0;
  }
}

.quote {
  width: 17%;
  // height: 63px;

}

.quote__icon {
  display: block;
  fill: #fff;
  opacity: 0.05;
}