.hero__bottom-buttons {
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
}

.scroll-down-btn {
  font-size: 18px;
  display: flex;
}

.scroll-down-btn__name {
margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
}

.scroll-down-btn__pic {
  height: 30px;
  fill: #fff;
  stroke-width: 0;
}