.skills-kit__title {
  margin-bottom: 3%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";

  &::first-letter {
    text-transform: uppercase;
  }
}

.skills-kit__list {
  display: flex;
  margin-bottom: 3%;
}

.skills-kit__item {
  margin-right: 40px;

  position: relative;
}