@for $i from 1 through 20 {
  .skill__circle--#{$i*5} {
    stroke-dashoffset: #{$i*20};
    stroke-width: 10px;
    fill: green;
  }
}

.skill {
  width: 200px;
  height: 200px;
  fill: transparent;
  stroke: gray;
  stroke-width: 3px;
  stroke-dasharray: 503;
  // stroke-dashoffset: 85;
  text-align: center;
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}