.reviews__slider-controls {
  display: flex;
}

.slider-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 30px;
  &--right {
    transform: rotate(180deg);
    margin-right: 0;
  }
}

.slider-btn__arrow {
  transform: translate(25%) rotate(45deg);
  width: 9px;
  height: 9px;
  border: transparent;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
}