.speaker {
  width: 75%;
  // &:before {
  //   content: url('/src/images/icons/quote.svg');
  //   // fill: aliceblue;
  //   // fill-rule: 
  //   // opacity: 0.5;
  // }
}

.speaker__text {
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 30px;
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 30px;
}