section.hero
            .parallax
              .parallax__layer(data-speed="0")
                img(src="src/images/parallax/sky.png").parallax__pic
              .parallax__layer(data-speed="0.09")
                img(src="src/images/parallax/mountain.png").parallax__pic
              .parallax__layer(data-speed="0")
                .hero__content
                  .owner
                    .owner__desc 
                      | Личный сайт
                      br
                      | веб-разработчика
                    .owner__name 
                      | Михаил 
                      br
                      | Бахирев
              .parallax__layer(data-speed="0.6")
                img(src="src/images/parallax/train.png").parallax__pic
              .parallax__layer(data-speed="1.2")
                img(src="src/images/parallax/ground.png").parallax__pic
              .parallax__layer(data-speed="3.2")
                img(src="src/images/parallax/gradient_662.png").parallax__pic
              .parallax__layer(data-speed="3.2")
                img(src="src/images/parallax/gradient_745.png").parallax__pic
              .parallax__layer(data-speed="3.2")
                img(src="src/images/parallax/btwn_sec_bg.png").parallax__pic
              .container.hero__container                                
            .hero__bottom-buttons
              .scroll-down-btn 
                h4.scroll-down-btn__name Скролл
                +icon('scroll', 'scroll-down-btn__pic')