include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
<<<<<<< HEAD
        .start-section
          section.hero
            include /sections/parallax
              .container.hero__container
                include /sections/header
                
                .hero__bottom-buttons
                  include /sections/scroll-down-btn
          include /sections/about
        include /sections/target
        section.works
                  
=======
        +image('content/user.jpg', 'user-pic')
        +icon('link', 'link-class')
        .icon-bg
>>>>>>> af883c89fd6b6e0f5feeb8b18bf9ccf1bd729116
