include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .start-section
          section.hero
            include /sections/parallax
              .container.hero__container
                include /sections/header
                
                .hero__bottom-buttons
                  include /sections/scroll-down-btn
          include /sections/about
        include /sections/target
        section.works
        .bottom-section
          section.reviews
            .reviews__title
              .section-title Что обо мне говорят
              .reviews__slider-controls
            ul.reviews__slider
              - for (var i = 0; i < 2; i++)
                li.reviews__slider-item
                  .speaker
                    article.speaker__text 
                      |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis harum at modi. Atque culpa ratione natus libero corrupti vitae voluptate unde quis ipsam officia reprehenderit iusto repudiandae, aliquid doloribus sint.
                    .speaker__autor
                      .dev.dev_horizontal
                        .dev__avatar
                        img(src="#" alt="").dev__avatar-pic
                        .dev__description
                          .dev__name Ковальчук Дмитрий
                          .dev__occ Основатель Loftschool              
          section.form
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year 2019
                .copyright__name Михаил Бахирев
                .copyright__description Личный сайт веб-разработчика
            .footer__data
              .footer-menu
                nav.nav
                  ul.nav__list              
                    each item in items
                      li.nav__item
                        a(href=`${item.link}`).nav__link #{item.name}
              .footer__data-columns
                .footer__data-col
                  article.footer__text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis omnis fuga amet iure illo fugit asperiores itaque dolores autem provident quod nisi, in iste assumenda consequuntur illum eveniet voluptatem aperiam.
                  .footer__socials.socials.socials--rounded
                    ul.socials__list                      
                      each social in socials
                        li.socials__item
                          a(href=`${social.link}`).socials__link 
                            +icon(`${social.name}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non doloremque vel ullam nisi! Magni similique omnis rem commodi? Praesentium ratione animi, labore voluptas tempora soluta quisquam nobis architecto sequi in.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cumque quis harum in neque quod quam cupiditate possimus dolore dolor ab, quaerat quae! Velit quis repellendus assumenda unde tempore animi.
                  .footer__autor Martin Golding
                  

                  
